 {% extends "layout.html" %} {% block content %}


<div class="container-fluid">

<h4 class="text-center">Editar semi jóias</h4>
    <br>

<table class="container-fluid">
    <thead>
        <tr>
            <th class="text-center">
                Descrição
            </th>
            <th class="text-center">
                Quantidade
            </th>
            <th class="text-center">
                Valor
            </th>
            <th class="text-center">
                Dia
            </th>
            <th class="text-center">
                Nome da Loja
            </th>
        </tr>
    </thead>

    <tbody>

 <form method="POST" action="">
            {{ formulario.hidden_tag() }}
            <div class="row">

                <tr>
                    <td>
                        <div class="form col-sm">
                            {{ formulario.descricao(class="form-control form-control-sm") }}
                        </div>
                    </td>

                    <td>
                        <div class="form col-sm">
                            {{ formulario.quantidade(class="form-control form-control-sm") }}
                        </div>
                    </td>
                    <div class="form col-sm">
                        <td>
                            {{ formulario.valor(class="form-control form-control-sm") }}
                        </td>
                    </div>

                    <td>
                        <div class="form col-sm">
                            {{ formulario.dia(class="form-control form-control-sm") }}

                        </div>
                    </td>
                    <td>
                        <div class="form col-sm">
                            {{ formulario.nomeloja(class="form-control form-control-sm") }}
                        </div>

                        
                    </td>

                    <td>
                        {{ formulario.enviar(class="btn btn-success btn-sm m-2") }}

                    </td>
                    <td> <a class="btn btn-danger btn-sm m-2" href="{{ url_for('sistema') }}">Cancelar</a>
                    </td>
                </tr>
            </div>
        </form>
 </tbody>
</table>
</div>
{% endblock content %}