{% extends "layout.html" %}
{% block content %}

<form method="POST" action="">
	{{ form.hidden_tag() }}

<br>
<div class="registro borda-borda">



{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h4 class="borda-borda">Login</h4>

 <div class="form-group row">
    <label class="col-sm-4 col-form-label">Email</label>
    <div class="col-sm-8">
     
    	{{ form.email(class="form-control form-control-sm") }}
    	{% if form.errors.email %}
    	<div class="alert alert-danger" role="alert">
    		{{ form.errors.email }}
		</div>
    	{% endif %}
    </div>
  </div>

<div class="form-group row">
    <label class="col-sm-4 col-form-label">Senha</label>
    <div class="col-sm-8">
     
    	{{ form.senha(class="form-control form-control-sm") }}
    	{% if form.errors.senha %}
    	<div class="alert alert-danger" role="alert">
    		{{ form.errors.senha }}
    	</div>
    	{% endif %}
    </div>
  
<div class="checkbox">
	<label>
		<div class="col-lg-12">
		
		{{ form.lembrar_me }} Lembrar-me
	</label>

<div class="titulo-salvar">
    
    {{ form.enviar(class="btn btn-success btn-block") }}
    </div>

</form>

</div>

{% endblock content %}


