 {% extends "layout.html" %} {% block content %}

<div class="container">

    <h4 class="text-center">Vender semi jóias</h4>
    <br>


    <br>
    <div class="row">
        <div class="col-md-12">

            <br>
        

            <table class="table table-bordered table-sm">
                <thead>
                    <tr>

                        <td> <b> Descrição </b></td>
                        <td> <b> Quantidade </b> </td>
                        <td> <b> Valor Unitário </b></td>
                        <td> <b> Data </b> </td>

                        <td> <b> Ações </b></td>

                    </tr>

                </thead>

                <tbody>
                    {% for itens in query %}
                    <tr>

                        <td width="400">{{ itens.descricao }}</td>
                        <td width="100">{{ itens.quantidade }}</td>
                        <td width="100">R$ {{ "{:,.2f}".format(itens.valor)}} </td> 
                       

                        <td width="100">{{ itens.dia }}</td>

                     

    <td> <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('vender',vender_id=itens._id) }}" method="POST">Vender</a></td>

                        </td>
                    </tr>

                    {% endfor %}

                </tbody>
            </table>

            <table class="table table-sm">
                <tbody>
                    <tr>
                        <td width="50">Totais</td>
                        <td width="400"> </td>
                        <td width="100"> {{ soma_itens_final }} </td>
                        <td width="100">{{  "R$ {:,.2f}".format(soma_total_final) }}</td> 
                        
                        <td width="100"> </td>

                        <td width="300"> </td>

                    </tr>

                </tbody>

            </table>

            <br>

        </div>

        <!-- /#main -->

        {% endblock content %}