 {% extends "layout.html" %} {% block content %}

<div class="container-fluid">

    <h4 class="text-center">vender semi jóias</h4>
    <br>

    <table class="container-fluid">
        <thead>
            <tr>
                <th class="text-center">
                    Quantidade
                </th>
            </tr>
        </thead>

        <tbody>

            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <div class="row">

{{ form.descricao(class="form-control form-control-sm", type="hidden") }}
{{ form.valor(class="form-control form-control-sm", type="hidden") }}
{{ form.dia(class="form-control form-control-sm", type="hidden") }}
{{ form.nomeloja(class="form-control form-control-sm", type="hidden") }}



                    <tr>

                        <td>
                            <div class="form col-sm">
                                {{ form.quantidade(class="form-control form-control-sm") }}
                            </div>
                        </td>

                        <td>
                            {{ form.enviar(class="btn btn-success btn-sm m-2") }}

                        </td>
            <td> <a class="btn btn-danger btn-sm m-2" href="{{ url_for('sistema') }}">Cancelar</a>
                        </td>
                    </tr>
                </div>
            </form>
        </tbody>
    </table>
</div>
{% endblock content %}